<% if @commentCreated %>
  commentCreated();
<% end -%>
showStatus(60, 'Rendering ...');
$("#comment-list").empty();
<% @comments.each do |comment| %>
  <% item = '<div class="comment_item"><div class="title-box"><h4 class="title">' + (author_signed_in? ? "<a href=\"mailto:#{comment.user_email}\">#{comment.user_name}</a>" : comment.user_name) + '</h4></div><div class="meta"><div class="submitted">' + (t :created_at, :scope => :attributes) + ' ' + (l comment.created_at, :format => :medium) + '</div></div><div class="content">' + comment.body.gsub("'", "\\'") + '</div>' %>
  <% if author_signed_in? %>
    <% item = item + '<p class="actions">' + link_to(t(:link_edit), edit_comment_path(comment.content.category.url_alias, comment.content.url_alias, comment.id)) + ' ' + link_to(t(:link_destroy), comment_path(comment.content.category.url_alias, comment.content.url_alias, comment.id), :confirm => t(:confirm_sure), :method => :delete) + '</p>' %>
  <% end -%>
  $("#comment-list").append('<%= raw(item) %></div>');
<% end -%>
$("#comment-list").append('<%= will_paginate @comments %>');
$("#comment-list .pagination a").attr("data-remote", "true");
$("#comments").show("blind", {}, 500);
hideStatus();
