/* BIO */

.bio img.thumb {
  width: 64px;
  height: 69px;
}

.bio {
  font-size: x-small;
}


h1.title, h2.title, h3.title, h4.title, h5.title, h6.title { margin: 0; }

h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

div.title-box * { display: inline; }

ul.links.clear-inline { margin: 0; }

ul.links { padding: 0; }

ul, ol { margin-left: 0; padding-left: 2em; }

ul.links li {
  list-style-type: none;
  padding: 0 0.5em;
}

li { line-height: 1.6em; margin: 0; padding: 0; }

img {
  border: 0 none;
}

.flaglist .field {
  float: left;
  padding: 0 5px;
  text-align: center;
}

#tabs {
  margin: 10px;
}

td {
  vertical-align: top;
}

.contenticon {
  float: left;
  margin-right: 1em;
}

#icontitle {
  vertical-align: middle;
}

#block_bio .contenticon {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

.content img.left {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

.content p.clear {
  clear: both;
}


/* IMAGE GALLERY */

.gallery-item {
  float: left;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: thin #ccc solid;
  width: 128px;
  height: 160px;
}

.gallery-item:hover {
  background-color: #ccc;
}

.gallery-item .thumbnail {
  height: 128px;
  width: 128px;
  background: white;
  display: table-cell;
  vertical-align: middle;
}

.gallery-item p.item-title a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
}

#gallery .list {
  min-height: 300px;
}

#gallery .nav {
  padding-top: 20px;
  clear: both;
  text-align: center;
}

.gallery-item p {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-item p.item-title {
  background-color: white;
}
