/* BIO */

.bio img.thumb {
  width: 64px;
  height: 69px;
}

.bio {
  font-size: x-small;
}


h1.title, h2.title, h3.title, h4.title, h5.title, h6.title { margin: 0; }

h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

div.title-box * { display: inline; }

ul.links.clear-inline { margin: 0; }

ul.links { padding: 0; }

ul, ol { margin-left: 0; padding-left: 2em; }

ul.links li {
  list-style-type: none;
  padding: 0 0.5em;
}

li { line-height: 1.6em; margin: 0; padding: 0; }

img {
  border: 0 none;
}

pre {
  background-color: #eee;
  padding: 5px;
}

.flaglist .field {
  float: left;
  padding: 0 5px;
  text-align: center;
}

#tabs {
  margin: 10px;
}

td {
  vertical-align: top;
}

.contenticon {
  float: left;
  margin-right: 1em;
}

#icontitle {
  vertical-align: middle;
}

#block_bio .contenticon {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

.content img.left {
  float: left;
  margin-right: 1em;
}

.content img.right {
  float: right;
  margin-left: 1em;
}

.content p.clear {
  clear: both;
}


/* IMAGE GALLERY */

.gallery-item {
  float: left;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: thin #ccc solid;
  width: 128px;
  height: 160px;
}

.gallery-item:hover {
  background-color: #ccc;
}

.gallery-item .thumbnail {
  height: 128px;
  width: 128px;
  background: white;
  display: table-cell;
  vertical-align: middle;
}

.gallery-item p.item-title a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
}

#gallery .list {
  min-height: 300px;
}

#gallery .nav {
  padding-top: 20px;
  clear: both;
  text-align: center;
}

.gallery-item p {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-item p.item-title {
  background-color: white;
}

.status-widget { margin: 15px 0; }

/* TAGS */

#tag-cloud { margin-top: 40px; }

#tag-cloud a { text-decoration: none; }

.tc1 { font-size: 22px; }

.tc1, .tc2, .tc4 { font-weight: bold; }

.tc2 { font-size: 20px; }

.tc3 { font-size: 18px; }

.tc4 { font-size: 16px; }

.tc5 { font-size: 14px; }

/* LINKS */
a {
  color: #007D8E;
}

.links a {
  text-decoration: none;
}

.links .active a {
  color: #000;
}

ul.links li {
  display: inline;
  padding: 0 15px;
  list-style-type: none;
  font-weight: bold;
}

/*ACRONYMS*/
.caps {
  color: #007D8E;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1%;
  padding: 0px 2px;
}

abbr, acronym {
  border-bottom: 1px dotted #007D8E;
}

/* TOP HORIZONTAL MENU */
#top-horiz-menu {
  margin-top: 0;
  padding-top: 8px;
}

#top-horiz-menu li {
  line-height: 22px;
}

#top-horiz-menu li a {
  background: transparent url(images/bg-nav-item.jpg) no-repeat scroll 50% 0;
  padding: 0.9em 0;
}

#top-horiz-menu li a:hover {
  background: transparent url(images/bg-nav-item-hover.jpg) no-repeat scroll 50% 0;
}


/* LANGUAGE SELECTOR */
#language-selector {
  float: right;
}

#language-selector li {
  padding: 0 0 0 30px;
  margin-left: 10px;
}

#language-selector li.language.en {
  background: transparent url(images/flags/en.png) no-repeat 0 50%;
}

#language-selector li.language.it {
  background: transparent url(images/flags/it.png) no-repeat 0 50%;
}
.post_item { padding: 0 0 40px; }

.comment_item { padding: 0 0 20px; }

.comment-list { padding: 20px 0 0; }

.submitted {
  font-size: x-small;
  color: #777;
}

.taglist ul li a { font-style: italic; font-weight: normal; }

.taglist { font-size: x-small; }

#add-comment { padding: 0.4em; }

#add-comment h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}

.content-separator {
  clear: both;
  display: block;
  height: 5px;
}

.attachments ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.attachments ul li {
  background: transparent url(images/attachment.png) no-repeat 0px 50%;
  padding-left: 16px;
}

.attachments {
  margin-bottom: 40px;
}

