img {
  border: 0 none;
}

.flaglist .field {
  float: left;
  padding: 0 5px;
  text-align: center;
}

#tabs {
  margin: 10px;
}

td {
  vertical-align: top;
}

.contenticon {
  float: left;
  margin-right: 1em;
}

#icontitle {
  vertical-align: middle;
}

#block_bio .contenticon {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}

.post_item, .post_show {
  line-height: 0.6em;
}

.post_item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  clear: both;
}

.post_item .summary, .post_show .summary, .post_show .content {
  line-height: 1.6em;
}

.taglist {
  margin-bottom: 15px;
}

.taglist ul.links {
  display: inline;
  margin: 0;
  padding: 0;
}

.taglist ul.links li {
  line-height: 0.6em;
  display: inline;
  padding: 0 0.5em;
  font-weight: normal;
}

.content img.left {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

.content p.clear {
  clear: both;
}

.submitted {
  font-size: x-small;
  margin-top: 0;
}

.meta {
  margin-top: 0;
}

/* IMAGE GALLERY */

.gallery-item {
  float: left;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: thin #ccc solid;
  width: 128px;
  height: 160px;
}

.gallery-item:hover {
  background-color: #ccc;
}

.gallery-item .thumbnail {
  height: 128px;
  width: 128px;
  background: white;
  display: table-cell;
  vertical-align: middle;
}

.gallery-item p.item-title a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  display: inline;
}

#gallery .list {
  min-height: 300px;
}

#gallery .nav {
  padding-top: 20px;
  clear: both;
  text-align: center;
}

.gallery-item p {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.gallery-item p.item-title {
  background-color: white;
}
