/* LINKS */
a {
  color: #007D8E;
}

.links a {
  text-decoration: none;
}

.links .active a {
  color: #000;
}

ul.links li {
  display: inline;
  padding: 0 15px;
  list-style-type: none;
  font-weight: bold;
}


/* TOP HORIZONTAL MENU */
#top-horiz-menu {
  margin-top: 0;
  padding-top: 8px;
}

#top-horiz-menu li {
  line-height: 22px;
}

#top-horiz-menu li a {
  background: transparent url(images/bg-nav-item.jpg) no-repeat scroll 50% 0;
  padding: 0.9em 0;
}

#top-horiz-menu li a:hover {
  background: transparent url(images/bg-nav-item-hover.jpg) no-repeat scroll 50% 0;
}


/* LANGUAGE SELECTOR */
#language-selector {
  float: right;
}

#language-selector li {
  padding: 0 0 0 30px;
  margin-left: 10px;
}

#language-selector li.language.en {
  background: transparent url(images/flags/en.png) no-repeat 0 50%;
}

#language-selector li.language.it {
  background: transparent url(images/flags/it.png) no-repeat 0 50%;
}
