<% title "I looked under a Python and I caught a Ruby", false %>

<div class="fright">
  <%= feed_icon feed_home_path %>
</div>

<%= render :partial => 'contents/list', :locals => { :posts => @posts } %>
