<% unless tags.empty? %>
  <div class="taglist clear-inline">
    <%= t '.in' %>
    <ul class="links clear-inline">
      <% tags.each do |t| %>
        <li class="tag"><%= link_to t.label, show_tag_path({:tag => t.url_alias}), :rel => 'tag' %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
