<% unless tags.empty? %>
  <div class="taglist clear-inline">
    <%= t :field_in_tags %>
    <ul class="links clear-inline">
      <% tags.each do |t| %>
        <li class="tag"><%= link_to t.url_alias, show_tag_path(t.url_alias), :rel => 'tag' %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
