<div style="display: none">
  <div id="add-category" title="<%= t(:title, :scope => [:categories, :new]) %>">
    <div id="category-errors"></div>
    <% @category = category %>
    <%= render :partial => 'categories/form' %>
  </div>
</div>
