<div style="display: none">
  <div id="add-category" title="<%= t(:category_new) %>">
    <div id="category-errors"></div>
    <% @category = category %>
    <%= render :partial => 'categories/form' %>
  </div>
</div>
