<a class="follow" href="http://www.facebook.com/nicola.racco">
  <img alt="Facebook" src="/_images_/follow_icons/facebook.ico" />
</a>
<a class="follow" href="/rss.xml">
  <img alt="RSS" src="/_images_/follow_icons/feed.ico" />
</a>
<a class="follow" href="http://www.linkedin.com/in/nicolaracco">
  <img alt="LinkedIn" src="/_images_/follow_icons/linkedin.ico" />
</a>
<a class="follow" href="http://twitter.com/nicolaracco">
  <img alt="Twit me" src="/_images_/follow_icons/twitter.ico" />
</a>
<a class="follow" href="http://github.com/nicolaracco">
  <img alt="My Repositories" src="/_images_/follow_icons/github.png" />
</a>
<a class="follow" href="http://steamcommunity.com/id/nicolaracco">
  <img alt="Steam" src="/_images_/follow_icons/steam.png" />
</a>
