<div style="display: none">
  <div id="gallery" title="<%= t(:title, :scope => [:images, :index]) %>">
    <div class="list">
    </div>
    <div class="nav">
    </div>
  </div>
  <div id="add-image" title="<%= t(:title, :scope => [:images, :new]) %>">
    <div id="image-errors"></div>
    <% @image = Image.new %>
    <%= render :partial => 'images/form' %>
  </div>
</div>
